@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
*{
    margin:0;
    padding: 0;
}
.navbar-brand{
    font-family: 'Pacifico', cursive;
}
.a1{
    font-family: 'Satisfy', cursive;
    font-size: 18px;
}
#marqueeStyle{
    background: lightskyblue;
    color: black;
    font-size: 15px;
}
